/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Account]
      ,[SortName]
      ,[LoanStatus]
  FROM [MARS].[dbo].[vw_Loans]
  WHERE Account in (

'303201-030',
'310268-358',
'312092-396',
'312663-411',
'312708-411',
'316164-460',
'318561-494',
'318561-494',
'319373-496',
'319823-500',
'319823-500',
'320780-513',
'320780-513',
'320781-513',
'320781-513',
'320860-513',
'320860-513',
'320860-513',
'320860-513',
'320864-513',
'320871-513',
'320896-513',
'320898-513',
'320898-513',
'320898-513',
'320898-513',
'320907-513',
'320907-513',
'320916-513',
'320933-513',
'320985-513',
'321111-513',
'321247-513',
'324109-539',
'324153-539',
'324157-539',
'324159-539',
'324159-539',
'324175-539',
'324175-539',
'324176-539',
'324176-539',
'324232-539',
'324235-539',
'324242-539',
'324368-539',
'324438-539'


)